#topRow {
    color: #522f70; 
    font-weight: bold;
} 

#welcome-screen, #finished, #high-scores {
    max-width: 980px; 
}

#quiz-area, #row-area {
    max-width: 560px; 
}

button {
    background-color: #522f70 !important; 
    color: white !important;
    font-family: Arial, Helvetica, sans-serif; 
    border-radius: 8px !important;  
}

button:hover {
    background-color: #695d85 !important; 
}

button:active {
    border: #ffffff; 
}

.hide {
    display: none !important; 
}

#rightOrWrong {
    font-style: italic; 
    font-size: 1.5rem; 
}

#score-table {
    max-width: 580px;  
    background-color: lavender; 
    font-weight: bold; 
}